USE [master]
GO
/****** Object:  Database [DentalClinicSystem]    Script Date: 23/05/2023 10:43:29 CH ******/
CREATE DATABASE [DentalClinicSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DentalClinicSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DentalClinicSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DentalClinicSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DentalClinicSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DentalClinicSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DentalClinicSystem]
GO
/****** Object:  User [sa]    Script Date: 23/05/2023 10:43:29 CH ******/
CREATE USER [sa] FOR LOGIN [sa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblAdvisory]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdvisory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[advisoryDate] [date] NULL,
	[fullName] [nvarchar](100) NULL,
	[phoneNumber] [int] NULL,
	[description] [nvarchar](300) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAppointment]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAppointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointmentDate] [datetime] NULL,
	[userID] [int] NULL,
	[dentistID] [int] NULL,
	[description] [nvarchar](300) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__tblAppoi__3213E83F95CE291E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDentist]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDentist](
	[dentistID] [int] NOT NULL,
	[experience] [nvarchar](100) NULL,
	[degree] [nvarchar](100) NULL,
	[image] [nvarchar](300) NULL,
 CONSTRAINT [PK_tblDentist] PRIMARY KEY CLUSTERED 
(
	[dentistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedBackDentist]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedBackDentist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[dentistID] [int] NULL,
	[rate] [int] NULL,
	[cmt] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeedBackService]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeedBackService](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[serviceID] [int] NULL,
	[rate] [int] NULL,
	[comment] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblService]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblService](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serviceName] [nvarchar](100) NULL,
	[description] [nvarchar](380) NULL,
	[price] [float] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTreatmentCourse]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTreatmentCourse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[dentistID] [int] NULL,
	[serviceID] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTreatmentCourseDetail]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTreatmentCourseDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[treatmentDate] [date] NULL,
	[treatmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 23/05/2023 10:43:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](100) NULL,
	[password] [nvarchar](100) NULL,
	[phoneNumber] [int] NULL,
	[idRole] [int] NULL,
	[status] [bit] NULL,
	[email] [nvarchar](100) NULL,
	[Roll] [nvarchar](10) NULL,
	[gender] [nvarchar](10) NULL,
 CONSTRAINT [PK__tblUser__3213E83FA12E2F99] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblDentist] ([dentistID], [experience], [degree], [image]) VALUES (1, N'10', N'Tốt nghiệp Thạc sĩ Bác sĩ Chuyên khoa', N'image/bacsinga.jpg')
INSERT [dbo].[tblDentist] ([dentistID], [experience], [degree], [image]) VALUES (2, N'12', N'Tốt nghiệp xuất sắc chuyên ngành RHM tại Đại Học Y Dược TPHCM', N'image/bacsitung.jpg')
INSERT [dbo].[tblDentist] ([dentistID], [experience], [degree], [image]) VALUES (3, N'30', N'Chủ tịch Hội Răng Hàm Mặt TP.HCM, Phó Chủ tịch Hội Răng Hàm Mặt Việt Nam', N'image/bacsikhanh.jpg')
GO
SET IDENTITY_INSERT [dbo].[tblFeedBackDentist] ON 

INSERT [dbo].[tblFeedBackDentist] ([id], [userID], [dentistID], [rate], [cmt]) VALUES (1, 8, 1, 4, N'Tôi rất thích cách nha sĩ giải thích quy trình điều trị cho tôi. Tuy nhiên, tôi cảm thấy giá cả có thể được cải thiện hơn, vì nó đắt với tôi quá.')
INSERT [dbo].[tblFeedBackDentist] ([id], [userID], [dentistID], [rate], [cmt]) VALUES (2, 10, 1, 5, N'Tôi đã có trải nghiệm tuyệt vời với nha sĩ. Anh ấy không chỉ giỏi trong chuyên môn mà còn rất nhẹ nhàng và tận tâm với từng bước điều trị. Tôi không còn lo lắng về việc đến nha sĩ nữa, và kết quả cuối cùng thực sự vượt qua mong đợi của tôi.')
INSERT [dbo].[tblFeedBackDentist] ([id], [userID], [dentistID], [rate], [cmt]) VALUES (3, 11, 2, 4, N'Tôi rất ấn tượng với sự chuyên nghiệp của nha sĩ và đội ngũ nhân viên. Tuy nhiên, tôi gặp một số khó khăn khi liên hệ với văn phòng đặt lịch hẹn và ghi chú về các yêu cầu đặc biệt.')
SET IDENTITY_INSERT [dbo].[tblFeedBackDentist] OFF
GO
SET IDENTITY_INSERT [dbo].[tblFeedBackService] ON 

INSERT [dbo].[tblFeedBackService] ([id], [userID], [serviceID], [rate], [comment]) VALUES (1, 8, 2, 4, N'Tôi rất hài lòng với quá trình cạo vôi răng của nha sĩ, tuy nhiên tôi cảm thấy không thoải mái với cảm giác đau và nhạy cảm trong quá trình điều trị.')
INSERT [dbo].[tblFeedBackService] ([id], [userID], [serviceID], [rate], [comment]) VALUES (2, 9, 5, 5, N'Tôi thật sự hài lòng với quá trình trám răng sữa của bạn, màu sắc của răng sau khi trám rất đẹp và tự nhiên như tôi mong đợi.')
INSERT [dbo].[tblFeedBackService] ([id], [userID], [serviceID], [rate], [comment]) VALUES (3, 11, 11, 4, N'Tôi rất đánh giá cao quá trình nhổ chân răng, tuy nhiên tôi cảm thấy không thoải mái với đau và khó chịu trong quá trình điều trị. Tôi hy vọng có thể có một trải nghiệm ít đau đớn hơn trong tương lai.')
SET IDENTITY_INSERT [dbo].[tblFeedBackService] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRole] ON 

INSERT [dbo].[tblRole] ([id], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[tblRole] ([id], [roleName]) VALUES (2, N'Dentist')
INSERT [dbo].[tblRole] ([id], [roleName]) VALUES (3, N'Marketing')
SET IDENTITY_INSERT [dbo].[tblRole] OFF
GO
SET IDENTITY_INSERT [dbo].[tblService] ON 

INSERT [dbo].[tblService] ([id], [serviceName], [description], [price], [status]) VALUES (1, N'Khám tổng quát', N'Kiểm tra, đánh giá và chăm sóc toàn diện cho sức khỏe răng miệng. Đây là một cuộc hẹn điều trị thông thường trong nha khoa và thường được khuyến nghị hai lần mỗi năm để duy trì sức khỏe răng miệng tốt.', 0, 1)
INSERT [dbo].[tblService] ([id], [serviceName], [description], [price], [status]) VALUES (2, N'Cạo vôi răng', N'Loại bỏ mảng bám và các cặn vôi tích tụ trên bề mặt răng. Mảng bám và vôi là các chất cứng tích tụ từ thức ăn và nước uống mà không được loại bỏ đúng cách bằng cách đánh răng thông thường.', 400000, 1)
INSERT [dbo].[tblService] ([id], [serviceName], [description], [price], [status]) VALUES (3, N'Điều trị viêm nha chu Cấp 1', N'Điều trị viêm nhiễm của mô nha chu (gồm nướu, xương và mô liên kết xung quanh răng) do sự tích tụ mảng bám và vi khuẩn trong khoảng không gian giữa răng và nướu.', 600000, 1)
SET IDENTITY_INSERT [dbo].[tblService] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([id], [fullName], [password], [phoneNumber], [idRole], [status], [email], [Roll], [gender]) VALUES (1, N'Trần Thị Mỹ Nga', N'bacsinga', 979039761, 2, 1, N'ngamtt@gmail.com', N'', NULL)
INSERT [dbo].[tblUser] ([id], [fullName], [password], [phoneNumber], [idRole], [status], [email], [Roll], [gender]) VALUES (2, N'Nguyễn Hiếu Tùng', N'bacsitung', 362475761, 2, 1, N'tunghn@gmail.com', N'', NULL)
INSERT [dbo].[tblUser] ([id], [fullName], [password], [phoneNumber], [idRole], [status], [email], [Roll], [gender]) VALUES (3, N'Ngô Đồng Khanh', N'bacsikhanh', 909365412, 2, 1, N'khanhdn@gmail.com', N'', NULL)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
/****** Object:  Index [UQ__tblDenti__BA394DCBEDC7E35F]    Script Date: 23/05/2023 10:43:30 CH ******/
ALTER TABLE [dbo].[tblDentist] ADD  CONSTRAINT [UQ__tblDenti__BA394DCBEDC7E35F] UNIQUE NONCLUSTERED 
(
	[dentistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblAdvisory] ADD  DEFAULT (getdate()) FOR [advisoryDate]
GO
ALTER TABLE [dbo].[tblAppointment]  WITH CHECK ADD  CONSTRAINT [FK__tblAppoin__userI__6EF57B66] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([id])
GO
ALTER TABLE [dbo].[tblAppointment] CHECK CONSTRAINT [FK__tblAppoin__userI__6EF57B66]
GO
ALTER TABLE [dbo].[tblAppointment]  WITH CHECK ADD  CONSTRAINT [FK_tblAppointment_tblDentist] FOREIGN KEY([dentistID])
REFERENCES [dbo].[tblDentist] ([dentistID])
GO
ALTER TABLE [dbo].[tblAppointment] CHECK CONSTRAINT [FK_tblAppointment_tblDentist]
GO
ALTER TABLE [dbo].[tblDentist]  WITH CHECK ADD  CONSTRAINT [FK_tblDentist_tblUser] FOREIGN KEY([dentistID])
REFERENCES [dbo].[tblUser] ([id])
GO
ALTER TABLE [dbo].[tblDentist] CHECK CONSTRAINT [FK_tblDentist_tblUser]
GO
ALTER TABLE [dbo].[tblFeedBackDentist]  WITH CHECK ADD FOREIGN KEY([dentistID])
REFERENCES [dbo].[tblDentist] ([dentistID])
GO
ALTER TABLE [dbo].[tblFeedBackDentist]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([id])
GO
ALTER TABLE [dbo].[tblFeedBackService]  WITH CHECK ADD FOREIGN KEY([serviceID])
REFERENCES [dbo].[tblService] ([id])
GO
ALTER TABLE [dbo].[tblFeedBackService]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([id])
GO
ALTER TABLE [dbo].[tblTreatmentCourse]  WITH CHECK ADD FOREIGN KEY([dentistID])
REFERENCES [dbo].[tblDentist] ([dentistID])
GO
ALTER TABLE [dbo].[tblTreatmentCourse]  WITH CHECK ADD FOREIGN KEY([serviceID])
REFERENCES [dbo].[tblService] ([id])
GO
ALTER TABLE [dbo].[tblTreatmentCourse]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([id])
GO
ALTER TABLE [dbo].[tblTreatmentCourseDetail]  WITH CHECK ADD FOREIGN KEY([treatmentID])
REFERENCES [dbo].[tblTreatmentCourse] ([id])
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK__tblUser__idRole__3A81B327] FOREIGN KEY([idRole])
REFERENCES [dbo].[tblRole] ([id])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK__tblUser__idRole__3A81B327]
GO
USE [master]
GO
